@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

:root {
    --font-family-main: "Source Sans Pro", sans-serif;
    --font-family-headings: "Rubik", sans-serif;

    //  TODO что-то не так с LINE-HEIGHT

    //  font-weight
    --font-weight-normal: 400;
    --font-weight-headings: 500;
    --font-weight-btns: 600;

    //  base size
    --text-base-size: 1em;

    //  line-height
    --font-line-normal: 16px;
    --font-line-headings: 24px;

    //  types
    //  button-xs
    --font-size-button-xs: 11px;
    --font-button-xs: var(--font-size-button-xs) / var(--font-weight-btns) var(--font-family-main);

    //
    --font-size-xs: 12px;
    --font-xs: var(--font-size-xs) / var(--font-line-main) var(--font-family-main);
    --font-xs-heading: var(--font-size-xs) / var(--font-line-headings) var(--font-family-headings);

    //  button-sm
    --font-size-button-sm: 13px;
    --font-button-sm: var(--font-size-button-sm) / var(--font-weight-btns) var(--font-family-main);

    //
    --font-size-sm: 14px;
    --font-sm: var(--font-size-sm) / var(--font-line-main) var(--font-family-main);
    --font-sm-heading: var(--font-size-sm) / var(--font-line-headings) var(--font-family-headings);

    //  button-m
    --font-size-button-m: 15px;
    --font-button-m: var(--font-size-button-m) / var(--font-weight-btns) var(--font-family-main);

    //
    --font-size-m: 16px;
    --font-m: var(--font-size-m) / var(--font-line-main) var(--font-family-main);
    --font-m-heading: var(--font-size-m) / var(--font-line-headings) var(--font-family-headings);

    //
    --font-size-l: 18px;
    --font-l: var(--font-size-l) / var(--font-line-main) var(--font-family-main);
    --font-l-heading: var(--font-size-l) / var(--font-line-headings) var(--font-family-headings);

    //
    --font-size-xl: 24px;
    --font-xl: var(--font-size-xl) / var(--font-line-main) var(--font-family-main);
    --font-xl-heading: var(--font-size-xl) / var(--font-line-headings) var(--font-family-headings);
}
