.btn {
    display: block;
    transition: var(--transition-btn);
    cursor: pointer;

    // Variant
    &-primary,
    &-secondary,
    &-bordered {
        border-radius: 4px;
        padding: 4px 16px;
        font: var(--font-btn);
        font-weight: var(--font-weight-btns) !important;
    }

    &-primary {
        border: 1px solid var(--color-yellow);
        background-color: var(--color-yellow);
        color: var(--color-default);

        &:hover {
            border-color: var(--color-yellow-hover);
            background-color: var(--color-yellow-hover);
            color: var(--color-default);
        }
    }

    &-secondary {
        border: 1px solid var(--color-gray-600);
        background-color: transparent;
        color: var(--color-default);

        &:hover {
            border-color: var(--color-gray-400);
            background-color: var(--color-gray-400);
            color: var(--color-default);
        }
    }

    &-bordered {
        border: 1px solid var(--color-gray-400);
        background-color: var(--color-white);
        color: var(--color-default);

        &:hover {
            border-color: var(--color-blue);
            color: var(--color-blue);
        }
    }

    &-link {
        border: none;
        background: none;
        color: var(--color-blue);
        font-size: var(--font-size-m);

        &.dashed {
            border-bottom: 1px dashed var(--color-blue);
        }

        &:hover {
            color: var(--color-blue-hover);
        }

        &.underline {
            text-decoration: underline;
        }
    }

    &-unstyled {
        cursor: pointer;
        border: none;
        background: none;
        text-align: left;
    }

    &-svg {
        display: flex;
        align-items: center;
        gap: 4px;

        .icon {
            transition: var(--transition-svg);
        }

        &:hover {
            .icon {
                fill: var(--color-blue-hover);
            }
        }
    }

    // Size
    &-sm {
        padding: 4px 8px;
        line-height: 16px;
    }

    &-lg {
        padding: 4px 16px;
        font-size: var(--font-size-m);
        line-height: 22px;
    }

    &-flex {
        width: 100%;
    }

    // Color
    &-white {
        border-color: var(--color-white);
        background-color: transparent;
        color: var(--color-white);

        &:hover {
            background-color: var(--color-white);
            color: var(--color-default);
        }
    }
}

a {
    display: block;
    transition: var(--transition-color);
    color: var(--color-blue);
    text-decoration: none;

    &:hover {
        color: var(--color-blue-hover);
    }
}
