* {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    color: $default;
    font-size: $spacer;
    line-height: 24px;
    font-family: $base-font;
}

.inline {
    display: inline;
}

.page {
    padding: 24px 15px;
    flex: 1;

    &-text {
        .inline {
            margin: 0 4px;
        }

        .list {
            &-main {
                .title {
                    margin-bottom: 4px;
                }

                & > li {
                    margin-bottom: 32px;
                }
            }
        }
    }
}

.separator {
    margin-bottom: 16px;
    border-bottom: 1px solid $gray-400;
}

ul {
    list-style: none;
}

.button__group {
    margin-top: auto;
}

.stoke__svg__text {
    display: flex;
    align-items: center;

    .icon {
        margin-right: 8px;
    }
}

.text__w__link {
    a {
        display: inline;
    }
}

.price {
    &-label {
        color: #091e42;
        font-weight: 600;
        font-size: $font-size-lg;
        line-height: 24px;

        &_sign {
            display: inline-block;
            vertical-align: top;
            transform: translateY(-4px);
            margin-right: 2px;
            font-size: $font-size-xs;
        }
    }
}
