.customers {
    .customer {
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-id {
            color: $gray-800;
            font-size: $font-size-default;
            line-height: 1.14;
            text-transform: uppercase;
        }

        &-title {
            margin-bottom: 16px;
        }

        &-info {
            grid-gap: 8px 32px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            &_title {
                color: $gray-800;
                line-height: 1.14;
            }

            &_text {
                margin-left: 4px;
                color: $default;
                word-break: break-all;
            }
        }

        &-add {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 32px;
            padding: 32px;
            width: 100%;
        }
    }
}
