.table {
    border-spacing: 0;
    width: 100%;

    thead {
        th {
            vertical-align: bottom;
            border-top: 1px solid #dfe1e6;
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            background-color: #f4f5f7;
            padding: 1rem 1.5rem;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.5rem;
            white-space: nowrap;
        }
    }

    tbody {
        td {
            vertical-align: middle;
            border-top: 1px solid #dfe1e6;
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            padding: 1rem 1.5rem;
        }
    }

    &-simple {
        border-collapse: collapse;
        width: 100%;
        overflow-x: auto;
        font-size: $font-size-sm;

        thead tr th {
            border-bottom: 1px solid $gray-600;
            padding: 12px;
            text-align: left;
            white-space: nowrap;
        }

        tbody tr td {
            border-bottom: 1px solid $gray-600;
            padding: 12px;
        }
    }
}
