.partner__kit {
    &-title {
        margin-bottom: 4px;
    }

    &-text {
        color: $default-light;
        font-size: $font-size-xs;
        line-height: 16px;
    }

    &-item {
        margin-bottom: 16px;
    }
}
